
 <main class="holder">
        <h2>Galería</h2>
        <div class="galeria">
            <div class="foto">
                <a data-fancybox="gallery" href="images/galeria/img01.jpg"><img src="images/galeria/ch/img01.jpg" alt="img01"></a>
            </div>
            <div class="foto">
                <a data-fancybox="gallery" href="images/galeria/img02.jpg"><img src="images/galeria/ch/img02.jpg" alt="img02"></a>
            </div>
            <div class="foto">
                <a data-fancybox="gallery" href="images/galeria/img03.jpg"><img src="images/galeria/ch/img03.jpg" alt="img03"></a>
            </div>
            <div class="foto">
                <a data-fancybox="gallery" href="images/galeria/img04.jpg"><img src="images/galeria/ch/img04.jpg" alt="img04"></a>
            </div>
            <div class="foto">
                <a data-fancybox="gallery" href="images/galeria/img05.jpg"><img src="images/galeria/ch/img05.jpg" alt="img05"></a>
            </div>
            <div class="foto">
                <a data-fancybox="gallery" href="images/galeria/img06.jpg"><img src="images/galeria/ch/img06.jpg" alt="img06"></a>
            </div>
            <div class="foto">
                <a data-fancybox="gallery" href="images/galeria/img07.jpg"><img src="images/galeria/ch/img07.jpg" alt="img07"></a>
            </div>
        </div>
    </main>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascripts/fancybox/jquery.fancybox.js"></script>
    <script src="javascripts/scripts.js"></script>