      <main class="holder" >
        <div class="cycle-slideshow homeimg" data-cycle-fx="scrollHorz"
        data-cycle-timeout="2000">
            <div class="cycle-overlay"></div>
            <img src="images/home/img01.jpg" alt="Avion"
            data-cycle-title="Avion" 
            data-cycle-desc="Nuestros transportes">
            <img src="images/home/img02.jpg" alt="Gandola"
            data-cycle-title="Gandola" 
            data-cycle-desc="Nuestros transportes">
            <img src="images/home/img03.jpg" alt=""
            data-cycle-title="Barco" 
            data-cycle-desc="Nuestros transportes">
            <img src="images/home/img04.jpg" alt=""
            data-cycle-title="Gandola" 
            data-cycle-desc="Nuestros transportes">
            <img src="images/home/img05.jpg" alt=""
            data-cycle-title="Depositos" 
            data-cycle-desc="Nuestros transportes">
        </div>
        <div class="columnas">
            <div class="bienvenidos left">
                <h2>Bienvenidos</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="testimonios right">
                <h2>Testimonio</h2>
                <div class="cycle-slideshow" data-cycle-fx="fade"
                data-cycle-timeout="1000" data-cycle-slides="div">
                    <div class="testimonio">
                        <spam class="cita">Muy buena empresa</spam>
                        <spam class="autor">Juan Perez-zapatos.com</spam>
                    </div>
                    <div class="testimonio">
                        <spam class="cita">Simple excelente</spam>
                        <spam class="autor">Juan Perez-zapatos.com</spam>
                    </div>
                    <div class="testimonio">
                        <spam class="cita">Maravislloso servicio</spam>
                        <spam class="autor">Justo Jara-zapatos.com</spam>
                </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascripts/jquery.cycle2.min.js"></script>
    <script src="javascripts/scripts.js"></script>
   
  
